<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付选择</title>
</head>
<!-- 引入公共配置文件 -->
<script src="/web-api/static/js/domainConfig.js"></script>
<script src="/web-api/static/js/index.js"></script>
<link rel="stylesheet" href="/web-api/static/css/index.css" type="text/css">
<body>
<h1>选择支付方式</h1>
<div id="paymentOptionsContainer">
    <!-- 添加其他支付方式的图标和处理函数 -->
</div>
<!-- 添加其他支付方式的表单 -->
<div id="paymentForm">
    <!-- 卡密渠道 -->
    <div id="blockChannel" class="inputContainer">
        <label for="blockPassword">请输入卡密：</label>
        <input type="text" id="blockPassword" name="blockPassword" required>
        <button onclick="submitPayment()">提交</button>
    </div>
    <!-- 支付码渠道 -->
    <div id="qrCodeChannel">
        <img id="paymentImage" alt="Payment Image">
    </div>
</div>
</body>
</html>