<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
</head>
<link rel="stylesheet" href="./common/css/index.css">
<script src="./common/index.js"></script>
<body>
<div class="body">
    <div class="selectBox">
        <div class="box flex-center">
            <div class="bank-box flex-center">
                <img class="img" src="./WechatIMG132.jpg"/>
                <p>JD卡密</p>
            </div>
        </div>
    </div>

    <div class="optionBox flex-center">
        <div class="inputBox">
            <input type="text" placeholder="请输入100-1000000元"/>
        </div>
        <div class="subBox">
            <button onclick="sendFun()">立即存款</button>
        </div>
    </div>
</div>
</body>
</html>